---
import Layout from "../layouts/Layout.astro"
import SectionContainer from "../components/SectionContainer.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from "../components/Experience.astro"
import Skills from "../components/Skills.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import Code from "../components/icons/Code.astro"
import User from "../components/icons/User.astro"
import Contact from "../components/Contact.astro"
---

<Layout
  title="Porfolio de Samu - Desarrollador y Programador Web con 6 años de experiencia"
  description="Contrata a Samu para crear tu aplicación web o móvil. Desarrollador Web y Emprendedor. Especializado en crear aplicaciones únicas."
>
  <main class="w-[calc(100%-300px)] float-right pl-[45px]">
    <SectionContainer id="sobre-mi">
      
      <h2
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Samu!
        <a
          href="https://linkedin.com/in/samuel-gairin-boldova-964137189"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
        </a>
      </h2>
      <p
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>Ingeniero informático apasionado de la tecnología con +6 años de experiencia en </span><span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Desarrollo y Programación Web </span
        >
         <span class="text-red-800 dark:text-red-200">
          en Barcelona, España.</span
        >
        <span class="text-sky-800 dark:text-sky-200"
          >Especializado en crear backend moderno, rápido y funcional.</span
        >
      </p>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/samuel-gairin-boldova-964137189">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/SamuGB">
          <GitHubIcon class="size-4 md:size-6" />
           GitHub
        </SocialPill>
        <SocialPill href="mailto:samuelgairin@g4b.cat">
          <MailIcon class="size-4 md:size-6" />
          samuelgairin@g4b.cat
        </SocialPill>
      </nav>
      <a href="/CV_Samuel_Gairin.pdf" target="_blank" class={`
          bg-[#f2f3f7]
          border dark:border-white/10 border-gray-400 rounded-full
          gap-x-2
          w-40
          text-center mt-10
          py-1 px-2 md:py-2 md:px-4
          text-xs md:text-base
          transition
          hover:scale-110
          cursor-pointer
          fixed
          right-20
          top-10
          font-bold
        `}>VER CV</a>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
       <Briefcase class="size-7" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
      <Code class="size-7" />
         Mis Habilidades
      </h2>
      <Skills />
    </SectionContainer>

    <SectionContainer id="contacto">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
      <User class="size-7" />
         Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>