@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #000;
  --foreground-rgb: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f1f1f1;
    --foreground-rgb: #0e0e10;
  }
}

body {
  color: var(--color-text);
  background: var(--foreground-rgb);
}