<aside
  class={`
    sidebar fixed w-[300px] h-screen transition-transform -translate-x-full sm:translate-x-0 bg-[#f2f3f7] dark:bg-[#2c3e50]
  `}
>
  <div class="h-full px-3 py-4 overflow-y-auto">
    <ul class="font-medium text-center">
      <li class="flex justify-center mt-11">
        <img
          class="rounded-full size-[9.5rem]"
          src="/yo.webp"
          alt="samu photo"
        />
      </li>
      <li class="flex mt-4 flex-col">
        <h1 class="text-[22px] font-bold mt-3">Samuel Gairin Boldova</h1>
        <p class="text-xs font-normal mt-2">DESARROLLADOR FULLSTACK</p>
      </li>
      <li class="mt-16">
          <a href="#sobre-mi" class="sans items-center pb-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-[rgba(255,255,255,0.1)] group">
            <!-- <User class="size-5" /> -->
            <span class="flex-1 whitespace-nowrap">SOBRE MI</span>
          </a>
      </li>
      <li class="mt-4">
          <a href="#experiencia" class="sans items-center pb-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-[rgba(255,255,255,0.1)] group">
            <!-- <Briefcase class="size-5" /> -->
            <span class="flex-1 whitespace-nowrap">EXPERIENCIA</span>
          </a>
      </li>
      <li class="mt-4">
          <a href="#proyectos" class="sans items-center pb-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-[rgba(255,255,255,0.1)] group">
            <!-- <CodeIcon class="size-5" /> -->
            <span class="flex-1 whitespace-nowrap">PROYECTOS</span>
          </a>
      </li>
      <li class="mt-4">
          <a href="#" class="sans items-center pb-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-[rgba(255,255,255,0.1)] group">
            <!-- <MailForward class="size-5" /> -->
            <span class="flex-1 whitespace-nowrap">CONTACTO</span>
          </a>
      </li>
    </ul>
    <p class="absolute bottom-0 text-[13px] font-normal text-center pb-8">© Copyright 2024 Todos los derechos reservados.</p>
  </div>
</aside>